h1 {
    font-size: 36px;
    font-weight: bold;
}

.card {
    border-radius: 10px;
}

.card-body {
    padding: 30px;
    border-radius: 10px;
}
.card-title {
    font-size: 20px;
    font-weight: 600;
    color: #007bff;
}

.card-text {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    color: #495057;
}

ul li::before {
    color: #007bff;
    margin-right: 10px;
}

.card-body .fa:hover {
    color: #0056b3;
}

.row {
    margin-top: 30px;
}

@media (max-width: 768px) {
    .col-md-4 {
        margin-bottom: 20px;
    }
}
